@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
    font-family: sansita swashed, roboto, sans-serif;
}

/* google-fonts importation */

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.splash-background {
    background-image: url(../images/hardraw-waterfall.jpg);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.heading-position {
    /* Credit: The below code was taken from: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ 
    This was taken to centre the splash-heading in the middle of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.splash-heading {
    color: #ffffff;
    text-align: center;
}

.mainsite-button {
    text-align: center;
}

.mainsite-button button {
    color: #ffffff;
    background-color: #1aa735;
    margin-top: 10px;
    font-family: roboto, sans-serif;
    font-size: 22px;
}

.navbar {
    box-shadow: 0 0 6px #16262e;
}

.navbar-light .navbar-nav .nav-link {
    color: #16262e;
    font-size: 26px;
    margin-right: 10px;
}

#hero-picture {
    background-image: url(../images/yorkshire-dales.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
    overflow: hidden;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0%;
    padding-top: 250px;
    text-align: center;
    color: #ffffff;
}

.jumbotron p {
    margin-top: 10px;
    font-size: 26px;
}

.jumbotron button {
    margin-top: 25px;
    background-color: #1aa735;
    font-family: roboto, sans-serif;
    font-size: 22px;
}

#about-title {
    padding-top: 30px;
    color: #16262e;
}

.title-line {
    border-top: 5px solid #1aa735;
    width: 20%;
}

.about-para {
    /* Credit: The below box-shadow was taken from: https://getcssscan.com/css-box-shadow-examples box shadow of about section */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 10px 0 20px 0;
    font-size: 22px;
    word-spacing: 5px;
}

.explore-section {
    margin-bottom: 20px;
}

#explore-title {
    padding-top: 10px;
    color: #16262e;
}

div#map {
    min-height: 500px;
    margin: 10px 0 10px;
}

footer {
    background-color: #1aa735;
    padding-top: 20px;
}

.social-p {
    color: #ffffff;
    text-shadow: 2px 2px #12854a;
}

.social-icons i {
    color: #ffffff;
    text-shadow: 2px 2px #12854a;
    padding-bottom: 10px;
    margin-right: 5px;
}

.social-icons i:hover {
    color: #f5b700;
}

.footer-p {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px #12854a;
}

.activities-title {
    padding-top: 20px;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
    min-height: 500px;
}

.contact-background {
    background-image: url(../images/yorkshire-dales.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
    overflow: hidden;
}

.contact-section {
    color: #ffffff;
}

.contact-heading {
    padding-top: 250px;
}

.contact-p {
    margin-top: 10px;
    font-size: 26px;
}

.contact-form button[type="submit"] {
    margin-top: 25px;
    color: #ffffff;
    background-color: #1aa735;
    font-family: roboto, sans-serif;
    font-size: 22px;
}