@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* google-fonts importation */
body {
    font-family: sansita swashed, roboto, sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth; /* adds a smooth scroll to site when a link is clicked */
}


/* splash page css */

/* background image */
.splash-background {
    background-image: url(../images/hardraw-waterfall.jpg);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.heading-position {
    /* Credit: The below code was taken from: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ 
    This was taken to centre the splash-heading in the middle of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 

.splash-heading {
    color: #ffffff;
    text-align: center;
}

/* styling of button to enter mainsite from splash page */
.mainsite-button {
    text-align: center;
}

.mainsite-button button {
    color: #ffffff;
    background-color: #1aa735;
    margin-top: 10px;
    font-family: roboto, sans-serif;
    font-size: 22px;
}

/* navbar css */
.navbar {
    -webkit-box-shadow: 0 0 6px #16262e;
    box-shadow: 0 0 6px #16262e;
}

.navbar-light .navbar-nav .nav-link {
    color: #16262e;
    font-size: 26px;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f5b700;
    /* changes the navbar link colour when hovered over */
}

/* hero picture */
#hero-picture {
    background-image: url(../images/yorkshire-dales.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    overflow: hidden;
}

/* jumbotron */
.jumbotron {
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 4px #16262e;
}

.jumbotron h5 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 26px;
}

/* CTA button to go to map */
.jumbotron button {
    margin-top: 25px;
    background-color: #1aa735;
    font-family: roboto, sans-serif;
    font-size: 22px;
}

/* about section background image */
.about-section {
    background-image: url(../images/snow.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

/* about title */
#about-title {
    padding-top: 30px;
    color: #16262e;
}

/* title line */
.title-line {
    border-top: 5px solid #1aa735;
    width: 20%;
}

/* about section paragraphs */
.about-para {
    padding: 10px;
    margin: 10px 0 30px 0;
    font-size: 30px;
    line-height: 40px;
    word-spacing: 5px;
}

.about-para b {
    color: #1aa735; /* targets the bold elements of about section paragraphs */
}

/* explore title */
#explore-title {
    padding-top: 30px;
    color: #16262e;
}

/* map buttons */
.map-buttons button {
    margin: 10px -10px 10px -10px;
    font-size: 25px;
    color: #1aa735;
    width: 200px;
}

.map-buttons i {
    margin-left: 5px; /* targets icons in the map buttons */
}

/* media query created to make map buttons smaller on small device screens */
@media(max-width: 768px) {
    .map-buttons button {
        margin: 5px 0px 5px 0px;
        font-size: 18px;
        width: 150px;
    }
}

/* Google Map API */
div#map {
    min-height: 500px;
    margin: 10px 0 10px;
}

/* Back to top button styling */
#back-top-btn {
    margin-top: 20px;
    cursor: pointer;
}

#back-top-btn:hover {
    color: #f5b700;
    /* changes the colour of the back to top icon when hovered over */
}

/* back to top paragraph */
.back-top-p {
    color: #16262e;
    font-family: roboto, sans-serif;
    font-size: 18px;
}

/* footer styling */
footer {
    background-color: #1aa735;
    padding-top: 20px;
}

/* social links content styling */
.social-p {
    color: #ffffff;
    text-shadow: 2px 2px #12854a;
}

.social-icons i /* targets social link icons */{
    color: #ffffff;
    text-shadow: 2px 2px #12854a;
    padding-bottom: 10px;
    margin-right: 5px;
}

.social-icons i:hover {
    color: #f5b700;
    border: #f5b700;
    /* changes colour of social links when hovered over */
}

/* title of webpage and copyright info text styling */
.footer-p {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px #12854a;
}


/* things to do page css */

/* titles of each category */
.activities-title {
    padding-top: 20px;
}

/* styling of each card */
.card {
    /* Credit: The below box-shadow was taken from: https://getcssscan.com/css-box-shadow-examples */
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-bottom: 20px;
}

/* font-size of each card paragraph */
.card-text {
    font-size: 20px;
}


/* contact page css */

/* contact hero image */
.contact-background {
    background-image: url(../images/yorkshire-dales.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    overflow: hidden;
}

.contact-section {
    color: #ffffff;
}

/* contact page title */
.contact-heading {
    padding-top: 100px;
    text-shadow: 0 0 4px #16262e;
}

/* site number, email address and site address */
.website-info {
    padding-top: 50px;
    font-size: 24px;
    text-shadow: 0 0 4px #16262e;
}

.website-info i /* targets social link icons */{
    padding: 10px;
    text-shadow: 0 0 4px #16262e;
}

/* contact paragraph */
.contact-p {
    margin-top: 20px;
    font-size: 26px;
    color: #16262e;
}

/* styles boxes of first name, last name and email address */
.contact-form input {
    border: 2px solid #1aa735;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* styles message box */
.contact-form textarea {
    border: 2px solid #1aa735;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-group {
    padding-top: 15px;
}

/* submit button styling */
.contact-form button[type="submit"] {
    margin: 25px 0 40px;
    color: #ffffff;
    background-color: #1aa735;
    font-family: roboto, sans-serif;
    font-size: 22px;
}

/* Credit: media-query is taken from https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/715392be2ba942abb1b6f9eaf566aed6/?child=first 
- this is to prevent the contact-form increasing its width fully on larger device screens */

@media(min-width: 992px) {
    .contact-form {
        padding-top: 20px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}