@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
    font-family: sansita swashed, roboto, sans-serif;
}

html, body {
    height: 100%;
}

.splash-background {
    background-image: url(../images/hardraw-waterfall.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    position: relative;
    overflow: hidden;
}